@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family: PoppinsRegular;
  src: url(../resources/poppins.regular.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../resources/poppins.light.ttf);
}

@font-face {
  font-family: PoppinsExtraLight;
  src: url(../resources/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(../resources/poppins.semibold.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(../resources/Poppins-Bold.ttf);
}

@font-face {
  font-family: PlayfairMedium;
  src: url(../resources/PlayfairDisplay-Medium.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playfairFont {
  font-family: Playfair Display, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}

.paragraphStyle {
  font-family: PoppinsRegular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.buttonDeco {
  background-color: #1a2236;
  color: white;
  font-family: PoppinsSemiBold, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.buttonDeco:hover {
  color: #1a2236;
  background: white;
  border-color: #1a2236;
}

.buttonDeco:active {
  color: #1a2236;
  background: white;
  border-width: 3px 3px 3px 3px;
  border-color: #1a2236;
}

.middleDeco {
  background-image: url(../resources/image_geometry_2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-top: 50%;
  margin-top: 28px;
}

.artDeco1 {
  background-image: url(../resources/image_geometry_1.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  height: 77px;
}

.toolbarSize {
  height: 17px;
  margin-top: 24px;
  margin-right: 14px;
}

.mainPadding {
  padding: 10px 28px;
}

.aboutPadding {
  padding: 10px 28px;
}

.artDeco2 {
  padding: 10px 28px;
  background: #f9f9fa;
  background-image: url(../resources/image_geometry_1.svg);
  background-repeat: no-repeat;
  padding-top: 110px;
}

.fullWidth {
  margin-top: -4px;
  margin-bottom: -6px;
  width: 100%;
}

.projectsTag {
  padding: 45px 20px 40px;
  top: 95px;
}

.darkBlueBackground {
  background-color: #1a2236;
}

.projectnameStyle {
  color: #fff;
  font-family: PoppinsRegular, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  margin-bottom: 12px;
}

.greenul {
  display: flex;
  list-style-type: none;
  margin-bottom: 10px;
}

.greenli {
  background-color: #98dede;
  font-size: 10.33px;
  padding: 5px 10px;
  margin-right: 12px;
  font-family: PoppinsRegular, sans-serif;
  color: #1a2236;
}

.buttonDeco2 {
  background-color: #1a2236;
  border-color: white;
  color: white;
  font-family: PoppinsSemiBold, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 15px 0;
  width: 70%;
}

.buttonDeco2:hover {
  color: #1a2236;
  background: white;
  border-color: #1a2236;
}

.buttonDeco2:active {
  color: #1a2236;
  background: white;
  border-width: 3px 3px 3px 3px;
  border-color: #1a2236;
}

.dgrid {
  display: grid;
}

.greenText {
  color: #92dcdc;
  display: flex;
  justify-content: center;
  font-family: PoppinsRegular, sans-serif;
  font-size: 18px;
  padding: 30px 0;
}

.greenText2 {
  display: none;
}

.dflexSocialMedia {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 35px;
}

.awhite {
  color: white;
  margin-right: 30px;
}

.socialmediaFontsize {
  font-size: 25px;
}

.languagesSection {
  background-color: #1c528a;
  background-image: url(../resources/pound.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  color: white;
  height: 289px;
  position: relative;
}

.frameworksSection {
  background-color: #e2505c;
  background-image: url(../resources/frameworkSquare.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  color: white;
  height: 289px;
  position: relative;
}

.skillsSection {
  background-color: #febf52;
  background-image: url(../resources/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  color: white;
  height: 289px;
  position: relative;
}

.aboutP {
  font-family: PoppinsRegular, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.loremStyle {
  padding: 20px 0;
  font-family: PoppinsRegular, sans-serif;
}

.margBottom1 {
  margin-bottom: 25px;
}

.margBottom2 {
  margin-bottom: 20px;
}

.margTop1 {
  margin-top: 50px;
}

.margRight1 {
  margin-right: 20px;
}

.dflex1 {
  display: flex;
  justify-content: center;
}

.rectangleText {
  color: white;
  position: absolute;
  left: 70px;
  top: 45px;
}

.projectsPadding {
  padding-left: 25px;
  padding-top: 21px;
  padding-bottom: 20px;
}

.noBullet1 {
  font-family: PoppinsBold, sans-serif;
  font-size: 25px;
  list-style-type: none;
  position: relative;
  left: -16px;
  margin-bottom: 15px;
}

.rectangleText2 {
  font-family: PoppinsSemiBold, sans-serif;
  font-size: 18px;
}

.noBullet2 {
  list-style-type: none;
}

.label1 {
  font-family: Poppins, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #7d7c84;
}

.label2 {
  font-family: Poppins, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #7d7c84;
}

.fullWidth2 {
  border: 1px solid #dfdfe0;
  margin-top: 4px;
  margin-bottom: 2px;
  width: 100%;
  height: 52px;
  border-radius: 4px;
  padding-left: 18px;
}

.fullWidth3 {
  margin-top: 4px;
  margin-bottom: 2px;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #dfdfe0;
  resize: none;
  padding-left: 18px;
  padding-top: 18px;
}

.greenArrow {
  font-size: 24px;
  padding-left: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.desktopHeader {
  display: none;
}

.deskStuff {
  display: none;
}

.dispNone {
  display: none;
}

.mobileMenu {
  background-image: url(../resources/Group98.svg);
  background-repeat: no-repeat;
  background-position: left top;
  font-family: PoppinsExtraLight, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 135px;
}

.mMenuBottom {
  background-image: url(../resources/MaskGroup.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-top: 25%;
  margin-top: 28px;
  position: absolute;
  bottom: 0;
}

.mobileMenuDots1 {
  background-image: url(../resources/littleDots.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 55px;
  top: 86px;
}

.mobileMenuDots2 {
  background-image: url(../resources/littleDots.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 55px;
  top: 455px;
}

.positionX {
  position: absolute;
  top: 20px;
  right: 25px;
}

.margBottom3 {
  margin-bottom: 100px;
}

.plainAnchor {
  text-decoration: none;
  color: black;
}

.mobileModalTech {
  display: flex;
  list-style-type: none;
}

.modalTextMobile {
  font-family: PoppinsRegular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.whiteButton {
  background-color: white;
  color: #1a2236;
  border-color: #1a2236;
  font-family: PoppinsSemiBold, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.whiteButton:hover {
  color: white;
  background: #1a2236;
}

.whiteButton:active {
  color: #1a2236;
  background: white;
  border-width: 3px 3px 3px 3px;
  border-color: #1a2236;
}

.smallImg {
  width: 20px;
}

@media screen and (min-width: 768px) {
  .bigDeco {
    background-image: url(../resources/Thur.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 877px;
    width: 65%;
    background-size: contain;
  }

  .dottedImage {
    background-image: url(../resources/image_dots.png);
    background-repeat: no-repeat;
    margin-top: 702px;
    height: 175px;
    width: 175px;
    position: absolute;
    right: 703px;
  }

  .middleDeco {
    display: none;
  }

  .mainPadding {
    display: flex;
    padding: 0;
    padding-bottom: 200px;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .artDeco2 {
    background-image: url(../resources/image-geometry_6.svg), url(../resources/image-geometry_7.svg);
    background-position: top left, bottom right;
    padding-left: 30%;
    padding-right: 35%;
  }

  .deskflex1 {
    display: flex;
    gap: 40px;
  }

  .deskPosRelative {
    position: relative;
  }

  .label1 {
    position: absolute;
    top: -15px;
  }

  .deskflex2 {
    display: flex;
  }

  .greenText {
    display: none;
  }

  .greenText2 {
    color: #92dcdc;
    display: flex;
    justify-content: center;
    font-family: PoppinsRegular, sans-serif;
    font-size: 18px;
    padding: 30px 0;
  }

  .deskfooter {
    justify-content: space-between;
    padding: 0 135px;
  }

  .dflexSocialMedia {
    margin-top: 32px;
  }

  .artDeco1 {
    display: none;
  }

  .desktopHeader {
    display: flex;
    border-bottom: 1px;
    box-shadow: 0 0.5px 0 #dddfe6;
    list-style-type: none;
    justify-content: center;
    font-family: PoppinsRegular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 30px 0;
  }

  .desktopHeader > li {
    padding-right: 25px;
  }

  .deskBlueSquare {
    display: none;
  }

  .macBookpic {
    width: 30%;
    position: absolute;
    top: 605px;
  }

  .ABLaptopPic {
    width: 40%;
    position: absolute;
    top: 856px;
  }

  .yellowLaptop {
    width: 265px;
    position: absolute;
    top: 1298px;
    right: 385px;
  }

  .pinkLaptop {
    width: 465px;
    position: absolute;
    right: 0;
    top: 560px;
  }

  .special-column {
    flex-direction: column-reverse;
  }

  .grayLaptop {
    width: 465px;
    position: absolute;
    right: 0;
    z-index: 10;
    top: 610px;
  }

  .loremStyle {
    padding: 50px 0;
  }

  .deskAbout {
    width: 50%;
    padding-left: 5%;
  }

  .deskTech {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .margBottom2 {
    margin-bottom: 0;
  }

  .deskStuff {
    display: block;
  }

  .rectangleText {
    width: 289px;
  }

  .aboutP {
    padding: 35px 0;
  }

  .aboutButtonDesk {
    width: 254px;
  }

  .aboutPadding {
    display: flex;
    padding-top: 1700px;
    padding-bottom: 150px;
  }

  .aboutDots {
    position: absolute;
    right: 70px;
    top: 125px;
  }

  .aboutTealSquare {
    position: absolute;
    right: 8px;
    top: 65px;
  }

  .deskPosRelative2 {
    position: relative;
    flex-grow: 1;
  }

  .mainButtonWidthDesk {
    width: 35%;
  }

  .deskPosAbsolute {
    position: absolute;
  }

  .liPaddingRight {
    padding-right: 25px;
  }

  .deskPresentation {
    position: absolute;
    width: 50%;
    top: 204px;
    left: 50px;
  }

  .deskPresentationDeco {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .firstCardDesk {
    width: 960px;
    position: absolute;
    right: 0;
  }

  .positionDeco1 {
    top: 557px;
    right: 467px;
    width: 30%;
  }

  .positionDeco2 {
    top: 1042px;
    right: 0;
  }

  .positionDeco3 {
    top: 1188px;
  }

  .positionDeco4 {
    top: 1120px;
    right: 475px;
  }

  .positionDeco5 {
    top: 1294px;
    right: 649px;
  }

  .positionDeco6 {
    right: 958px;
  }

  .firstCardBlueBackground {
    position: absolute;
    background-color: rgba(26, 34, 54, 0.95);
    top: 204px;
    height: 353px;
    padding-left: 100px;
    padding-top: 50px;
    gap: 30px;
    width: 100%;
    right: 0;
  }

  .formButtonDesk {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .deskButtonWidth {
    width: 45%;
  }

  .buttonDecoDesk {
    background-color: white;
    color: #1a2236;
  }

  .buttonDecoDesk:hover {
    background-color: #1a2236;
    color: white;
    border-color: white;
  }

  .buttonDecoDesk:active {
    color: white;
    background-color: #1a2236;
    border-width: 3px 3px 3px 3px;
    border-color: white;
  }

  .deskFont1 {
    font-size: 43px;
  }

  .deskFont2 {
    font-size: 23px;
  }

  .projectnameStyle {
    font-family: PoppinsSemiBold, sans-serif;
  }

  .greenli {
    font-size: 15px;
  }

  .languagesSection {
    width: 300px;
  }

  .frameworksSection {
    width: 300px;
  }

  .skillsSection {
    width: 300px;
  }

  .projectsTag {
    transform: rotate(-90deg);
    left: -65px;
  }

  .bigImage {
    width: 100%;
    position: absolute;
    right: 0;
  }

  .buttonTransition {
    transition: width 2s;
  }

  .buttonTransition:hover {
    width: 50%;
  }

  .buttonTransition2 {
    transition: font-family 3s, font-size 3s;
  }

  .buttonTransition2:hover {
    font-family: PoppinsBold, sans-serif;
    font-size: 25px;
  }

  @keyframes logo {
    from { color: black; }
    to { color: green; }
  }

  .playfairFont {
    line-height: 100px;
    font-family: PlayfairMedium, sans-serif;
    font-size: 85px;
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}
